<!DOCTYPE html>
<html>
  <head>
    <title>Espacio Seguros</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>

  	<!-- Page wrapper -->
  	<%= render 'layouts/header' %>

    <%= yield %>

 	<!-- Footer -->
    <%= render 'layouts/footer' %>

  </body>
</html>